/*
 * Libraries
 */
@import "./lib/hamburgers/hamburgers";

/*
 * Configurations
 */
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./helpers";
@import "./layout";
@import "./global";

:root {
	font-size: $base_font_size;
}

body {
	font-family: $font1;
	color: $black;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

@include global_styles;

@import "./typography";
@import "./partials";
@import "./blocks";
